In [1]:
# Import two external packages : numpy, that handles multi-dimensionnal arrays, and pandas, that manages indexes data frames
import pandas as pd
import numpy as np

# Numpy

## Operations on arrays

In [2]:
arr1 = np.array([1, 2, 3])
arr2 = np.array([2, 4, 6])
arr1

array([1, 2, 3])

### Use the reshape method to transform it into a 'column' vector
The first argument is the number of lines, the second is the number of column. '-1' tells Numpy to guess the number of lines from the number of columns.

In [3]:
arr1.reshape((-1, 1))

array([[1],
       [2],
       [3]])

### Use the reshape method to transform it into a 'line' vector

In [4]:
arr1.reshape((1, -1))

array([[1, 2, 3]])

### Product of two 1-D arrays : element-wise multiplication (both vectors must have the same size)

In [5]:
arr1 * arr2

array([ 2,  8, 18])

Try division, addition, substraction, power of a scalar... anything

### Matrix multiplication ('@' symbol) : scalar product.

In [6]:
arr1 @ arr2

28

### Column vector times line vector : makes a matrix
Numpy has a weird convention here : doing line vector times column vector goves the same result, while we could expect it to be the scalar product too. Can also use 'numpy.outer' method.

In [7]:
arr1.reshape((-1, 1)) * arr2.reshape((1, -1))

array([[ 2,  4,  6],
       [ 4,  8, 12],
       [ 6, 12, 18]])

In [8]:
arr1.reshape((1, -1)) * arr2.reshape((-1, 1))

array([[ 2,  4,  6],
       [ 4,  8, 12],
       [ 6, 12, 18]])

In [9]:
np.outer(arr1, arr2)

array([[ 2,  4,  6],
       [ 4,  8, 12],
       [ 6, 12, 18]])

Numpy is not limited to 2-D arrays ! Try 3D, or more, try different array sizes...

In [10]:
arr3 = np.array([1, 2])
arr3

array([1, 2])

In [11]:
np.outer(arr3, np.outer(arr1, arr2)).reshape((2, 3, 3))

array([[[ 2,  4,  6],
        [ 4,  8, 12],
        [ 6, 12, 18]],

       [[ 4,  8, 12],
        [ 8, 16, 24],
        [12, 24, 36]]])

In [12]:
np.outer(arr3, np.outer(arr1, arr2)).reshape((3, 2, 3))

array([[[ 2,  4,  6],
        [ 4,  8, 12]],

       [[ 6, 12, 18],
        [ 4,  8, 12]],

       [[ 8, 16, 24],
        [12, 24, 36]]])

In [13]:
np.outer(arr3, np.outer(arr1, arr2)).reshape((3, 3, 2))

array([[[ 2,  4],
        [ 6,  4],
        [ 8, 12]],

       [[ 6, 12],
        [18,  4],
        [ 8, 12]],

       [[ 8, 16],
        [24, 12],
        [24, 36]]])

In [14]:
np.outer(arr1, arr2)

array([[ 2,  4,  6],
       [ 4,  8, 12],
       [ 6, 12, 18]])

In [15]:
np.outer(arr1, arr2).T  # Transpose

array([[ 2,  4,  6],
       [ 4,  8, 12],
       [ 6, 12, 18]])

## Usefull init methods with Numpy

### Create a table full of zeros

In [16]:
np.zeros(shape=(10, 5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

### Create a table full of ones

In [17]:
np.ones(shape=(10, 5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

### Create a table full of whatever float you want

In [18]:
np.ones(shape=(10, 5)) * 2.31

array([[2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31],
       [2.31, 2.31, 2.31, 2.31, 2.31]])

### Create a linear space

In [19]:
np.linspace(11, 15, 1000)  # 1000 points evenly spaced, from 11 to 15

array([11.        , 11.004004  , 11.00800801, 11.01201201, 11.01601602,
       11.02002002, 11.02402402, 11.02802803, 11.03203203, 11.03603604,
       11.04004004, 11.04404404, 11.04804805, 11.05205205, 11.05605606,
       11.06006006, 11.06406406, 11.06806807, 11.07207207, 11.07607608,
       11.08008008, 11.08408408, 11.08808809, 11.09209209, 11.0960961 ,
       11.1001001 , 11.1041041 , 11.10810811, 11.11211211, 11.11611612,
       11.12012012, 11.12412412, 11.12812813, 11.13213213, 11.13613614,
       11.14014014, 11.14414414, 11.14814815, 11.15215215, 11.15615616,
       11.16016016, 11.16416416, 11.16816817, 11.17217217, 11.17617618,
       11.18018018, 11.18418418, 11.18818819, 11.19219219, 11.1961962 ,
       11.2002002 , 11.2042042 , 11.20820821, 11.21221221, 11.21621622,
       11.22022022, 11.22422422, 11.22822823, 11.23223223, 11.23623624,
       11.24024024, 11.24424424, 11.24824825, 11.25225225, 11.25625626,
       11.26026026, 11.26426426, 11.26826827, 11.27227227, 11.27627628,
       11.28028028, 11.28428428, 11.28828829, 11.29229229, 11.2962963 ,
       11.3003003 , 11.3043043 , 11.30830831, 11.31231231, 11.31631632,
       11.32032032, 11.32432432, 11.32832833, 11.33233233, 11.33633634,
       11.34034034, 11.34434434, 11.34834835, 11.35235235, 11.35635636,
       11.36036036, 11.36436436, 11.36836837, 11.37237237, 11.37637638,
       11.38038038, 11.38438438, 11.38838839, 11.39239239, 11.3963964 ,
       11.4004004 , 11.4044044 , 11.40840841, 11.41241241, 11.41641642,
       11.42042042, 11.42442442, 11.42842843, 11.43243243, 11.43643644,
       11.44044044, 11.44444444, 11.44844845, 11.45245245, 11.45645646,
       11.46046046, 11.46446446, 11.46846847, 11.47247247, 11.47647648,
       11.48048048, 11.48448448, 11.48848849, 11.49249249, 11.4964965 ,
       11.5005005 , 11.5045045 , 11.50850851, 11.51251251, 11.51651652,
       11.52052052, 11.52452452, 11.52852853, 11.53253253, 11.53653654,
       11.54054054, 11.54454454, 11.54854855, 11.55255255, 11.55655656,
       11.56056056, 11.56456456, 11.56856857, 11.57257257, 11.57657658,
       11.58058058, 11.58458458, 11.58858859, 11.59259259, 11.5965966 ,
       11.6006006 , 11.6046046 , 11.60860861, 11.61261261, 11.61661662,
       11.62062062, 11.62462462, 11.62862863, 11.63263263, 11.63663664,
       11.64064064, 11.64464464, 11.64864865, 11.65265265, 11.65665666,
       11.66066066, 11.66466466, 11.66866867, 11.67267267, 11.67667668,
       11.68068068, 11.68468468, 11.68868869, 11.69269269, 11.6966967 ,
       11.7007007 , 11.7047047 , 11.70870871, 11.71271271, 11.71671672,
       11.72072072, 11.72472472, 11.72872873, 11.73273273, 11.73673674,
       11.74074074, 11.74474474, 11.74874875, 11.75275275, 11.75675676,
       11.76076076, 11.76476476, 11.76876877, 11.77277277, 11.77677678,
       11.78078078, 11.78478478, 11.78878879, 11.79279279, 11.7967968 ,
       11.8008008 , 11.8048048 , 11.80880881, 11.81281281, 11.81681682,
       11.82082082, 11.82482482, 11.82882883, 11.83283283, 11.83683684,
       11.84084084, 11.84484484, 11.84884885, 11.85285285, 11.85685686,
       11.86086086, 11.86486486, 11.86886887, 11.87287287, 11.87687688,
       11.88088088, 11.88488488, 11.88888889, 11.89289289, 11.8968969 ,
       11.9009009 , 11.9049049 , 11.90890891, 11.91291291, 11.91691692,
       11.92092092, 11.92492492, 11.92892893, 11.93293293, 11.93693694,
       11.94094094, 11.94494494, 11.94894895, 11.95295295, 11.95695696,
       11.96096096, 11.96496496, 11.96896897, 11.97297297, 11.97697698,
       11.98098098, 11.98498498, 11.98898899, 11.99299299, 11.996997  ,
       12.001001  , 12.00500501, 12.00900901, 12.01301301, 12.01701702,
       12.02102102, 12.02502503, 12.02902903, 12.03303303, 12.03703704,
       12.04104104, 12.04504505, 12.04904905, 12.05305305, 12.05705706,
       12.06106106, 12.06506507, 12.06906907, 12.07307307, 12.07707708,
       12.08108108, 12.08508509, 12.08908909, 12.09309309, 12.0970971 ,
       12.1011011 , 12.10510511, 12.10910911, 12.11311311, 12.11711712,
       12.12112112, 12.12512513, 12.12912913, 12.13313313, 12.13713714,
       12.14114114, 12.14514515, 12.14914915, 12.15315315, 12.15715716,
       12.16116116, 12.16516517, 12.16916917, 12.17317317, 12.17717718,
       12.18118118, 12.18518519, 12.18918919, 12.19319319, 12.1971972 ,
       12.2012012 , 12.20520521, 12.20920921, 12.21321321, 12.21721722,
       12.22122122, 12.22522523, 12.22922923, 12.23323323, 12.23723724,
       12.24124124, 12.24524525, 12.24924925, 12.25325325, 12.25725726,
       12.26126126, 12.26526527, 12.26926927, 12.27327327, 12.27727728,
       12.28128128, 12.28528529, 12.28928929, 12.29329329, 12.2972973 ,
       12.3013013 , 12.30530531, 12.30930931, 12.31331331, 12.31731732,
       12.32132132, 12.32532533, 12.32932933, 12.33333333, 12.33733734,
       12.34134134, 12.34534535, 12.34934935, 12.35335335, 12.35735736,
       12.36136136, 12.36536537, 12.36936937, 12.37337337, 12.37737738,
       12.38138138, 12.38538539, 12.38938939, 12.39339339, 12.3973974 ,
       12.4014014 , 12.40540541, 12.40940941, 12.41341341, 12.41741742,
       12.42142142, 12.42542543, 12.42942943, 12.43343343, 12.43743744,
       12.44144144, 12.44544545, 12.44944945, 12.45345345, 12.45745746,
       12.46146146, 12.46546547, 12.46946947, 12.47347347, 12.47747748,
       12.48148148, 12.48548549, 12.48948949, 12.49349349, 12.4974975 ,
       12.5015015 , 12.50550551, 12.50950951, 12.51351351, 12.51751752,
       12.52152152, 12.52552553, 12.52952953, 12.53353353, 12.53753754,
       12.54154154, 12.54554555, 12.54954955, 12.55355355, 12.55755756,
       12.56156156, 12.56556557, 12.56956957, 12.57357357, 12.57757758,
       12.58158158, 12.58558559, 12.58958959, 12.59359359, 12.5975976 ,
       12.6016016 , 12.60560561, 12.60960961, 12.61361361, 12.61761762,
       12.62162162, 12.62562563, 12.62962963, 12.63363363, 12.63763764,
       12.64164164, 12.64564565, 12.64964965, 12.65365365, 12.65765766,
       12.66166166, 12.66566567, 12.66966967, 12.67367367, 12.67767768,
       12.68168168, 12.68568569, 12.68968969, 12.69369369, 12.6976977 ,
       12.7017017 , 12.70570571, 12.70970971, 12.71371371, 12.71771772,
       12.72172172, 12.72572573, 12.72972973, 12.73373373, 12.73773774,
       12.74174174, 12.74574575, 12.74974975, 12.75375375, 12.75775776,
       12.76176176, 12.76576577, 12.76976977, 12.77377377, 12.77777778,
       12.78178178, 12.78578579, 12.78978979, 12.79379379, 12.7977978 ,
       12.8018018 , 12.80580581, 12.80980981, 12.81381381, 12.81781782,
       12.82182182, 12.82582583, 12.82982983, 12.83383383, 12.83783784,
       12.84184184, 12.84584585, 12.84984985, 12.85385385, 12.85785786,
       12.86186186, 12.86586587, 12.86986987, 12.87387387, 12.87787788,
       12.88188188, 12.88588589, 12.88988989, 12.89389389, 12.8978979 ,
       12.9019019 , 12.90590591, 12.90990991, 12.91391391, 12.91791792,
       12.92192192, 12.92592593, 12.92992993, 12.93393393, 12.93793794,
       12.94194194, 12.94594595, 12.94994995, 12.95395395, 12.95795796,
       12.96196196, 12.96596597, 12.96996997, 12.97397397, 12.97797798,
       12.98198198, 12.98598599, 12.98998999, 12.99399399, 12.997998  ,
       13.002002  , 13.00600601, 13.01001001, 13.01401401, 13.01801802,
       13.02202202, 13.02602603, 13.03003003, 13.03403403, 13.03803804,
       13.04204204, 13.04604605, 13.05005005, 13.05405405, 13.05805806,
       13.06206206, 13.06606607, 13.07007007, 13.07407407, 13.07807808,
       13.08208208, 13.08608609, 13.09009009, 13.09409409, 13.0980981 ,
       13.1021021 , 13.10610611, 13.11011011, 13.11411411, 13.11811812,
       13.12212212, 13.12612613, 13.13013013, 13.13413413, 13.13813814,
       13.14214214, 13.14614615, 13.15015015, 13.15415415, 13.15815816,
       13.16216216, 13.16616617, 13.17017017, 13.17417417, 13.17817818,
       13.18218218, 13.18618619, 13.19019019, 13.19419419, 13.1981982 ,
       13.2022022 , 13.20620621, 13.21021021, 13.21421421, 13.21821822,
       13.22222222, 13.22622623, 13.23023023, 13.23423423, 13.23823824,
       13.24224224, 13.24624625, 13.25025025, 13.25425425, 13.25825826,
       13.26226226, 13.26626627, 13.27027027, 13.27427427, 13.27827828,
       13.28228228, 13.28628629, 13.29029029, 13.29429429, 13.2982983 ,
       13.3023023 , 13.30630631, 13.31031031, 13.31431431, 13.31831832,
       13.32232232, 13.32632633, 13.33033033, 13.33433433, 13.33833834,
       13.34234234, 13.34634635, 13.35035035, 13.35435435, 13.35835836,
       13.36236236, 13.36636637, 13.37037037, 13.37437437, 13.37837838,
       13.38238238, 13.38638639, 13.39039039, 13.39439439, 13.3983984 ,
       13.4024024 , 13.40640641, 13.41041041, 13.41441441, 13.41841842,
       13.42242242, 13.42642643, 13.43043043, 13.43443443, 13.43843844,
       13.44244244, 13.44644645, 13.45045045, 13.45445445, 13.45845846,
       13.46246246, 13.46646647, 13.47047047, 13.47447447, 13.47847848,
       13.48248248, 13.48648649, 13.49049049, 13.49449449, 13.4984985 ,
       13.5025025 , 13.50650651, 13.51051051, 13.51451451, 13.51851852,
       13.52252252, 13.52652653, 13.53053053, 13.53453453, 13.53853854,
       13.54254254, 13.54654655, 13.55055055, 13.55455455, 13.55855856,
       13.56256256, 13.56656657, 13.57057057, 13.57457457, 13.57857858,
       13.58258258, 13.58658659, 13.59059059, 13.59459459, 13.5985986 ,
       13.6026026 , 13.60660661, 13.61061061, 13.61461461, 13.61861862,
       13.62262262, 13.62662663, 13.63063063, 13.63463463, 13.63863864,
       13.64264264, 13.64664665, 13.65065065, 13.65465465, 13.65865866,
       13.66266266, 13.66666667, 13.67067067, 13.67467467, 13.67867868,
       13.68268268, 13.68668669, 13.69069069, 13.69469469, 13.6986987 ,
       13.7027027 , 13.70670671, 13.71071071, 13.71471471, 13.71871872,
       13.72272272, 13.72672673, 13.73073073, 13.73473473, 13.73873874,
       13.74274274, 13.74674675, 13.75075075, 13.75475475, 13.75875876,
       13.76276276, 13.76676677, 13.77077077, 13.77477477, 13.77877878,
       13.78278278, 13.78678679, 13.79079079, 13.79479479, 13.7987988 ,
       13.8028028 , 13.80680681, 13.81081081, 13.81481481, 13.81881882,
       13.82282282, 13.82682683, 13.83083083, 13.83483483, 13.83883884,
       13.84284284, 13.84684685, 13.85085085, 13.85485485, 13.85885886,
       13.86286286, 13.86686687, 13.87087087, 13.87487487, 13.87887888,
       13.88288288, 13.88688689, 13.89089089, 13.89489489, 13.8988989 ,
       13.9029029 , 13.90690691, 13.91091091, 13.91491491, 13.91891892,
       13.92292292, 13.92692693, 13.93093093, 13.93493493, 13.93893894,
       13.94294294, 13.94694695, 13.95095095, 13.95495495, 13.95895896,
       13.96296296, 13.96696697, 13.97097097, 13.97497497, 13.97897898,
       13.98298298, 13.98698699, 13.99099099, 13.99499499, 13.998999  ,
       14.003003  , 14.00700701, 14.01101101, 14.01501502, 14.01901902,
       14.02302302, 14.02702703, 14.03103103, 14.03503504, 14.03903904,
       14.04304304, 14.04704705, 14.05105105, 14.05505506, 14.05905906,
       14.06306306, 14.06706707, 14.07107107, 14.07507508, 14.07907908,
       14.08308308, 14.08708709, 14.09109109, 14.0950951 , 14.0990991 ,
       14.1031031 , 14.10710711, 14.11111111, 14.11511512, 14.11911912,
       14.12312312, 14.12712713, 14.13113113, 14.13513514, 14.13913914,
       14.14314314, 14.14714715, 14.15115115, 14.15515516, 14.15915916,
       14.16316316, 14.16716717, 14.17117117, 14.17517518, 14.17917918,
       14.18318318, 14.18718719, 14.19119119, 14.1951952 , 14.1991992 ,
       14.2032032 , 14.20720721, 14.21121121, 14.21521522, 14.21921922,
       14.22322322, 14.22722723, 14.23123123, 14.23523524, 14.23923924,
       14.24324324, 14.24724725, 14.25125125, 14.25525526, 14.25925926,
       14.26326326, 14.26726727, 14.27127127, 14.27527528, 14.27927928,
       14.28328328, 14.28728729, 14.29129129, 14.2952953 , 14.2992993 ,
       14.3033033 , 14.30730731, 14.31131131, 14.31531532, 14.31931932,
       14.32332332, 14.32732733, 14.33133133, 14.33533534, 14.33933934,
       14.34334334, 14.34734735, 14.35135135, 14.35535536, 14.35935936,
       14.36336336, 14.36736737, 14.37137137, 14.37537538, 14.37937938,
       14.38338338, 14.38738739, 14.39139139, 14.3953954 , 14.3993994 ,
       14.4034034 , 14.40740741, 14.41141141, 14.41541542, 14.41941942,
       14.42342342, 14.42742743, 14.43143143, 14.43543544, 14.43943944,
       14.44344344, 14.44744745, 14.45145145, 14.45545546, 14.45945946,
       14.46346346, 14.46746747, 14.47147147, 14.47547548, 14.47947948,
       14.48348348, 14.48748749, 14.49149149, 14.4954955 , 14.4994995 ,
       14.5035035 , 14.50750751, 14.51151151, 14.51551552, 14.51951952,
       14.52352352, 14.52752753, 14.53153153, 14.53553554, 14.53953954,
       14.54354354, 14.54754755, 14.55155155, 14.55555556, 14.55955956,
       14.56356356, 14.56756757, 14.57157157, 14.57557558, 14.57957958,
       14.58358358, 14.58758759, 14.59159159, 14.5955956 , 14.5995996 ,
       14.6036036 , 14.60760761, 14.61161161, 14.61561562, 14.61961962,
       14.62362362, 14.62762763, 14.63163163, 14.63563564, 14.63963964,
       14.64364364, 14.64764765, 14.65165165, 14.65565566, 14.65965966,
       14.66366366, 14.66766767, 14.67167167, 14.67567568, 14.67967968,
       14.68368368, 14.68768769, 14.69169169, 14.6956957 , 14.6996997 ,
       14.7037037 , 14.70770771, 14.71171171, 14.71571572, 14.71971972,
       14.72372372, 14.72772773, 14.73173173, 14.73573574, 14.73973974,
       14.74374374, 14.74774775, 14.75175175, 14.75575576, 14.75975976,
       14.76376376, 14.76776777, 14.77177177, 14.77577578, 14.77977978,
       14.78378378, 14.78778779, 14.79179179, 14.7957958 , 14.7997998 ,
       14.8038038 , 14.80780781, 14.81181181, 14.81581582, 14.81981982,
       14.82382382, 14.82782783, 14.83183183, 14.83583584, 14.83983984,
       14.84384384, 14.84784785, 14.85185185, 14.85585586, 14.85985986,
       14.86386386, 14.86786787, 14.87187187, 14.87587588, 14.87987988,
       14.88388388, 14.88788789, 14.89189189, 14.8958959 , 14.8998999 ,
       14.9039039 , 14.90790791, 14.91191191, 14.91591592, 14.91991992,
       14.92392392, 14.92792793, 14.93193193, 14.93593594, 14.93993994,
       14.94394394, 14.94794795, 14.95195195, 14.95595596, 14.95995996,
       14.96396396, 14.96796797, 14.97197197, 14.97597598, 14.97997998,
       14.98398398, 14.98798799, 14.99199199, 14.995996  , 15.        ])

In [20]:
# 2 matrices of 2 lines and 5 columns. First filled with values from 0 to 10 alors columns, the second filled with values from -1 to -5 along lines
np.meshgrid(
    np.linspace(0, 10, 5),
    np.linspace(-1, -5, 2)
)

[array([[ 0. ,  2.5,  5. ,  7.5, 10. ],
        [ 0. ,  2.5,  5. ,  7.5, 10. ]]),
 array([[-1., -1., -1., -1., -1.],
        [-5., -5., -5., -5., -5.]])]

### Create random numbers

In [21]:
np.random.normal()  # Single sample drawn on a Gaussian distribution of mean 0 and std 1

-0.8621685942143492

In [22]:
np.random.normal(10, 100)  # Single sample drawn on a Gaussian distribution of mean 10 and std 100

-49.25752872383347

In [23]:
np.random.normal(10, 100, (10, 10))  # 10x10 samples drawn on a Gaussian distribution of mean 10 and std 100

array([[ 264.72271038,   13.25642172,  165.33850793,  -13.67488754,
         121.41333336, -128.70355058,  -80.9471369 ,  -79.79136844,
         -92.90481739,  142.36818958],
       [ -38.8218019 ,  -59.60735469,  -20.07797954,   88.22203267,
        -144.62763208,  -74.61220579,   17.48053144,  -46.44694088,
          80.22308271,    3.45168518],
       [ 100.42055005,  -45.75331778,  -69.90469876, -118.45267992,
          78.26682604, -122.27204057,   65.51110986, -178.91192514,
          23.04232591,  138.88128463],
       [  77.01654017,   14.76524028, -101.30574667,  -82.1757426 ,
         -33.09157525,  -19.91225501,   26.7667035 ,  -46.72400009,
          63.04886874,  127.02798274],
       [ -24.81200857,  -91.08396531,  -67.93939686,  -25.8673151 ,
          40.54303771,  -32.74448035,   79.9886998 ,   98.90692371,
         165.87975673,  131.51457106],
       [ -85.36805823,   94.49868253,    5.19334447,   56.20709711,
         -17.39383819,   24.17606952,  -37.76682103,   61.27463824,
          93.08391818, -100.74499759],
       [ -26.06664584,   46.54342433,   78.21547497,   28.14023251,
         -14.50840188,    7.07340344,  -34.3724208 ,  -54.07129197,
         -91.80680553,  127.06912002],
       [-127.00040679,   42.64880207, -140.47218114,   40.66700625,
          64.07149984,  -77.81285349, -184.77934148,   45.05665042,
         -39.95559735,  -88.61029517],
       [  -5.12403097,  151.36784244,   61.56803488,   94.8827662 ,
          58.55067537,  116.25945918,    7.04352714, -169.70009389,
         -34.30166764,   52.97204817],
       [  24.41797553,  -11.67821985,   -7.01361464,  146.21950668,
         -90.43137923,  -43.75353753, -100.84077643,  -73.89732974,
         264.5847416 ,   81.30336174]])

You can try out other distributions

## Accessing data in a table

In [24]:
matrix = np.random.randint(0, 10, size=(4, 3))

In [25]:
matrix

array([[7, 2, 5],
       [3, 3, 5],
       [6, 4, 1],
       [5, 0, 6]])

In [26]:
matrix[0]  # First line

array([7, 2, 5])

In [27]:
matrix[:, 0]  # First column

array([7, 3, 6, 5])

In [28]:
matrix[1:4]  # Lines 1 to 3 (line 1 is the second line, line 0 is the first line)

array([[3, 3, 5],
       [6, 4, 1],
       [5, 0, 6]])

In [29]:
matrix[1:4, 0:2]  # Same lines but only the first two columns

array([[3, 3],
       [6, 4],
       [5, 0]])

In [30]:
matrix[::-1, ::-1]  # Inverse all lines and all rows

array([[6, 0, 5],
       [1, 4, 6],
       [5, 3, 3],
       [5, 2, 7]])

In [31]:
matrix[::-1]  # Inverse only lines

array([[5, 0, 6],
       [6, 4, 1],
       [3, 3, 5],
       [7, 2, 5]])

In [32]:
matrix[:, ::-1]  # Inverse only rows

array([[5, 2, 7],
       [5, 3, 3],
       [1, 4, 6],
       [6, 0, 5]])

In [33]:
matrix[::-2]  # Inverse only lines, and only take one line every two lines

array([[5, 0, 6],
       [3, 3, 5]])

In [34]:
matrix > 3  # Same array with values replaced by True where the conditions is met and False everywhere else.

array([[ True, False,  True],
       [False, False,  True],
       [ True,  True, False],
       [ True, False,  True]])

In [35]:
matrix[matrix > 3]  # only keep elements greater than 3 (flattens the array)

array([7, 5, 5, 6, 4, 5, 6])

In [36]:
(matrix > 3) * 1  # Same as matrix > 3 but with 1 instead of True and 0 instead of False

array([[1, 0, 1],
       [0, 0, 1],
       [1, 1, 0],
       [1, 0, 1]])

In [37]:
(matrix > 3) * matrix  # Original matrix with 0 where the value is not greater than 3

array([[7, 0, 5],
       [0, 0, 5],
       [6, 4, 0],
       [5, 0, 6]])

## Modifying data in a table

In [38]:
arr1[0] = 10
arr1

array([10,  2,  3])

In [39]:
matrix[0] = [1, 1, 1]
matrix

array([[1, 1, 1],
       [3, 3, 5],
       [6, 4, 1],
       [5, 0, 6]])

In [40]:
matrix[:, 0] = [1, 1, 1, 1]
matrix

array([[1, 1, 1],
       [1, 3, 5],
       [1, 4, 1],
       [1, 0, 6]])

# Pandas

## Series and DataFrames
Pandas support 1-D arrays (called "Series") and 2-D arrays (called "DataFrames"). The difference with numpy : the columns and lines can have labels.
In a DataFrame, lines are called indexes, but both line labels and column labels are instances of the pd.Index class

Pandas is *very* usefull when working with time series

### Series

In [41]:
s1 = pd.Series(data=arr1)

In [42]:
s1

0    10
1     2
2     3
dtype: int64

In [43]:
s1.values

array([10,  2,  3])

In [44]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [45]:
s1 = pd.Series(data=arr1, index=["a", "b", "c"])

In [46]:
s1

a    10
b     2
c     3
dtype: int64

In [47]:
s1.index

Index(['a', 'b', 'c'], dtype='object')

In [48]:
s1["a"]

10

In [49]:
s1 = pd.Series(data=arr1, index=pd.DatetimeIndex(["2020-01-01", "2020-01-03", "2020-01-06"]))

In [50]:
s1

2020-01-01    10
2020-01-03     2
2020-01-06     3
dtype: int64

In [51]:
s1[s1.index > "2020-01-03"]  # Pandas recognizes "2020-01-03" as a date

2020-01-06    3
dtype: int64

### DataFrames
They are just multiple Series stackes together

In [52]:
df = pd.DataFrame(data=[arr1, arr2])  # arr1 is the first line, arr2 the second

In [53]:
df

    0  1  2
0  10  2  3
1   2  4  6

In [54]:
df = pd.DataFrame(data=[arr1, arr2], index=["A", "B"], columns=pd.DatetimeIndex(["2020-01-01", "2020-01-03", "2020-01-06"]))

In [55]:
df

   2020-01-01  2020-01-03  2020-01-06
A          10           2           3
B           2           4           6

In [56]:
s2 = pd.Series(data=arr2, index=pd.DatetimeIndex(["2020-01-01", "2020-01-03", "2020-01-06"]))
s1.name = "A"
s2.name = "B"
df = pd.DataFrame(data=[s1, s2])

In [57]:
df

   2020-01-01  2020-01-03  2020-01-06
A          10           2           3
B           2           4           6

In [58]:
df.T  # More useful in this form

             A  B
2020-01-01  10  2
2020-01-03   2  4
2020-01-06   3  6

In [59]:
pd.concat([s1, s2], axis=1)

             A  B
2020-01-01  10  2
2020-01-03   2  4
2020-01-06   3  6

In [60]:
pd.concat([s1, s2], axis=1).T

   2020-01-01  2020-01-03  2020-01-06
A          10           2           3
B           2           4           6

In [61]:
df.loc["A"]

2020-01-01    10
2020-01-03     2
2020-01-06     3
Name: A, dtype: int64

In [62]:
df["2020-01-01"]

A    10
B     2
Name: 2020-01-01 00:00:00, dtype: int64

In [63]:
df.loc["A", "2020-01-01"]

10